<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="car.css">
</head>
<body>

<h1>Sistema de Venda de Carros</h1>

<a href="/login">Login</a>
<a href="/register">Cadastro</a>

</body>
</html>