<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Resposta</title>
    <link rel="stylesheet" href="/cadastro.css">
</head>
<body>

    <div class="container">
        <h1><%= mensagem %></h1>

        <a href="/login.html">
            Voltar
        </a>
    </div>

</body>
</html>